body {
  //height: 100%;
  font-size: $font-size-body;
  line-height: $line-height;
  font-family: 'Graphik LCG', sans-serif;
//   background-color: rgb(134, 134, 134);
  background-color: $background;

  padding-top: 36px;
  @media only screen and (max-width: 768px) {
    padding-top: 36px;
  }
  @media only screen and (min-width: 320px) and (max-width: 576px) {
    padding-top: 34px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    margin: 0 auto;
    padding: 0 $container-offset;
   max-width: $content-width;
   height: 100%;
}

.hidden{
    overflow: hidden;
}

.flex{
    display: flex;
}
